# ========== GLOBAL SETTINGS ==========
global
    log /tmp/haproxy-log.sock local0
    maxconn 2048
    daemon

# ========== DEFAULT SETTINGS ==========
defaults
    log     global
    mode    http
    timeout connect 5000ms
    timeout client  50000ms
    timeout server  50000ms

# ========== FRONTEND ==========
frontend http_front
    bind *:80
    default_backend flask_backends_iphash

# ========== BACKEND: Round Robin ==========
backend flask_backends_rr
    balance roundrobin
    server app1 127.0.0.1:5001 check
    server app2 127.0.0.1:5002 check
    server app3 127.0.0.1:5003 check
    server app4 127.0.0.1:5004 check
    server app5 127.0.0.1:5005 check
    server app6 127.0.0.1:5006 check
    server app7 127.0.0.1:5007 check
    server app8 127.0.0.1:5008 check
    server app9 127.0.0.1:5009 check
    server app10 127.0.0.1:5010 check

# ========== BACKEND: Least Connection ==========
backend flask_backends_lc
    balance leastconn
    server app1 127.0.0.1:5001 check
    server app2 127.0.0.1:5002 check
    server app3 127.0.0.1:5003 check
    server app4 127.0.0.1:5004 check
    server app5 127.0.0.1:5005 check
    server app6 127.0.0.1:5006 check
    server app7 127.0.0.1:5007 check
    server app8 127.0.0.1:5008 check
    server app9 127.0.0.1:5009 check
    server app10 127.0.0.1:5010 check
# ========== BACKEND: IP Hashing ==========
backend flask_backends_iphash
    balance source
    server app1 127.0.0.1:5001 check
    server app2 127.0.0.1:5002 check
    server app3 127.0.0.1:5003 check
    server app4 127.0.0.1:5004 check
    server app5 127.0.0.1:5005 check
    server app6 127.0.0.1:5006 check
    server app7 127.0.0.1:5007 check
    server app8 127.0.0.1:5008 check
    server app9 127.0.0.1:5009 check
    server app10 127.0.0.1:5010 check

# ========== HAProxy Stats ==========
listen stats
    bind *:8404
    mode http
    stats enable
    stats uri /
    stats refresh 10s
    stats show-node
    stats auth admin:admin
